.perfil{
    overflow: scroll;
    padding: 3rem;
}

.img-perfil{
    background-color: #ebebeb;
    border: 1px solid #183e62;
    border-radius: 50%;
    width: 250px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-perfil img{
    width: 200px;
}

.container-perfil{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nome-usuario{
    font-size: 2em;
}

.email-usuario{
    font-size: 1.5em;
}