.card{
    background-color: rgb(221, 248, 255);
    border: 1px solid #2B6499;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 280px;
    height: 300px;
    transition: 0.5s;
    box-shadow: 0 0 10px 2px #00000050;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container-card-img img{
    width: 280px;
}

.card a{
    text-decoration: none;
}

.card:hover{
    transition: 0.5s;
    scale: 1.04;
    box-shadow: 0 0 15px 3px #00000050
}

.card h3{
    font-size: 2.2em;
    line-height: 40px;
}