.container-titulo{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-titulo h1{
    padding: 1rem 0;
    font-size: 2.5em;
}

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cards .center{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}